<div class="container-fluid landing">
    <div class="row welcome">
        <div class="col-sm-12 text-center">
            <h1 class="welcome-text">{{t 'paginas_estaticas.landing.txotx'}}</h1>
            <p class="welcome-subtext">{{t 'paginas_estaticas.landing.subtitulo'}}</p>
            <a class="btn btn-ghost btn-lg btn-encuentra" data-target="mapa">{{t 'paginas_estaticas.landing.encuentra'}}</a>
        </div>
    </div>

    <div class="row caja" id="mapa">    
        <div class="col-xs-12">
            {{places-map items=model}}
        </div>
    </div>    
    <div class="row caja" id="sidrerias">  
        <div class="col-xs-12">
            {{partial "places"}}
        </div>
    </div>
</div>
